# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.env.*
venv/
.venv/
pip-wheel-metadata/

# =========================
# Django
# =========================
db.sqlite3
staticfiles/
media/
*.log

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Tests / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Jupyter / Data
# =========================
.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Secrets / Credentials
# =========================
*.pem
*.key
credentials.json
service_account.json

# =========================
# Docker
# =========================
docker-data/

# =========================
# Folders and to ignore
# =========================
ingestion_local/

schema_job_market_analytics.png